@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.home {
  background-color: #181c14;
  height: 100vh;
}

#navbarNav > ul > li > a {
  color: #ecdfcc;
}

#navbarNav > ul > li > a:hover {
  color: #697565;
}

.home > div.container > nav > div > a > span {
  font-weight: bold;
  font-size: 1.75rem !important;
}

.home > div.px-4.py-5.my-5.text-center {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home > div.px-4.py-5.my-5.text-center > h1 {
  color: #fff !important;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 5rem;
}

.home > div.px-4.py-5.my-5.text-center > div > p {
  color: #ecdfcc;
  font-size: 1.5rem;
}

img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* Underline the software */
.underline {
  text-decoration: underline;
}

.about > div > div > div.col-10.col-sm-8.col-lg-6 > img {
  border-radius: 20px;
}

section .section-title {
  color: #181c14 !important;
}

.about > div > div > div:nth-child(2) > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.row:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.skills {
  background-color: #ecdfcc;
}

.skills > div .skills-img {
  border-radius: 10px;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}

.skills > div p {
  font-family: "Montserrat", sans-serif;
}

.education {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.education > div > div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
